<section id="coc">
  <h2>Code of Conduct</h2>
  <p>
    NE-RPC will be a friendly, welcoming, inclusive and educational environment for all participants. Whilst intended to showcase local speakers, the event is open to be attended by all.
    As such, we're committed to ensuring high standards and will take a zero-tolerance approach to prevent harrassment: whether that be targeted based upon age, race, sexuality, appearance, gender (and gender identity) or religious beliefs.
  </p>
  <p>
    Furthermore, as an inclusive event we will remain technology-agnostic. Whether you're tabs or spaces, Vim or Emacs, Java or C#, we're all here to learn, not to beat up on other's choices. We ask that speakers respect this boundary when presenting content.
    Participants who do not follow our Code of Conduct will be removed from the online event and not permitted to rejoin.
  </p>
  <p>
    Any concerns, please reach out to us at any time.
  </p>
</section>
