<footer>
  <p>North East Remote Programming Conference 2020 - <a href="https://gitlab.com/sh1989/ne-rpc">Site Source</a></p>
  <p>Circuit Background CC BY 4.0 - <a href="https://www.heropatterns.com/">Hero Patterns</a></p>
  <p>Tynemouth CC BY-NC-ND 4.0 - <a href="https://www.flickr.com/photos/bramhall/24337615208">dvdbramhall</a></p>
  <p>Souter Lighthouse CC BY-NC-ND 4.0 - <a href="https://www.flickr.com/photos/54178370@N00/822349880">dkodigital</a></p>
  <p>Icons CC BY 4.0 - <a href="https://fontawesome.io">Dave Gandy - Font Awesome</a></p>
</footer>
