<section id="intro">
  <div class="actions">
    <a href="https://twitter.com/rpc_ne">🐦 @rpc_ne</a>
    <a href="https://sessionize.com/ne-rpc-back-2-sk00l/">📣 Speak at NE-RPC!</a>
    <a href="https://www.eventbrite.com/e/ne-rpc-back-2-sk00l-tickets-111832080764">Get a Ticket</a>
  </div>
  <p>
    NE-RPC (the North East Remote Programming Conference) is a <strong>community-organised, free-to-attend</strong> virtual conference, showcasing speakers from the North East of England and beyond.
  </p>
</section>
