<section id="organisation">
  <h2>Our Organisers</h2>
  <div class="organisers">
    <div class="organiser">
      <img src="shogarth.jpg" alt="Sam Hogarth portrait" />
      <p>📐 <a href="https://samhogy.co.uk">Sam Hogarth</a></p>
    </div>
    <div class="organiser">
      <img src="mwebber.jpg" alt="Matt Webber portrait" />
      <p>⚽ <a href="https://twitter.com/mattwebber93">Matt Webber</a></p>
    </div>
    <div class="organiser">
      <img src="dglass.jpg" alt="David Glass portrait" />
      <p>🧪 <a href="https://david.glass">David Glass</a></p>
    </div>
    <div class="organiser">
      <img src="lwilson.jpg" alt="Lauren Wilson portrait" />
      <p>🌍 <a href="https://twitter.com/laurenjjwilson">Lauren Wilson</a></p>
    </div>
  </div>
</section>
