<section>
  <h2>Past Events</h2>
  <ul class="past-events no-bullets">
    {{#events}}
      <li>
        <div class="card circuits">
          <a href="/{{canonical}}">
            <h3 class="past-event-june-2020">NE-RPC ><span class="blink">_</span></h3>
            <span>{{name}}</span>
           </a>
        </div>
      </li>
    {{/events}}
  </ul>
</section>
