<div class="video-container">
  <iframe class="video" width="379" height="213" src="{{session.video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
