<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rpc_ne" />
    <meta name="twitter:creator" content="@samhogy" />
    <meta property="og:url" content="https://ne-rpc.co.uk">
    <meta property="og:title" content="NE-RPC | North East Remote Programming Conference">
    <meta property="og:image" content="https://ne-rpc.co.uk/ne-rpc.jpg">
    <meta property="og:description" content="NE-RPC is a community-organised, free-to-attend virtual conference, showcasing speakers from the North East of England.">
    <title>NE-RPC | North East Remote Programming Conference</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../agenda.css">
  </head>
  <body>
    {{> header}}
    <div class="actions">
      <a href="/">Home</a>
      <a href="https://twitter.com/rpc_ne">🐦 @rpc_ne</a>
    </div>
    <h1>{{name}}</h1>
    <p>We held this event on {{date}}. Below is the agenda from the day, alongside all the session videos which are free for you to watch.</p>
    <section id="speakers">
      <h2>Agenda</h2>
      <div class="row header-row">
        <div class="slot circuits"></div>
        <div class="title tynemouth">
          <h3>Tynemouth Stream</h3>
          <a href="https://en.wikipedia.org/wiki/Tynemouth">🛈</a>
        </div>
        <div class="title marsden">
          <h3>Marsden Stream</h3>
          <a href="https://en.wikipedia.org/wiki/Marsden,_Tyne_and_Wear">🛈</a>
        </div>
      </div>
      {{#sessions}}
        <div class="row">
          <div class="slot">{{slotStart}}</div>
          {{#rooms}}
          <div class="session">
            {{> video }}
            <a href="./{{session.canonical}}">
              <h3>{{session.title}}</h3>
              <p>
                <img class="portrait" src="{{session.speaker.profilePicture}}" alt="{{session.speaker.fullName}} portrait">
                <span>{{session.speaker.fullName}}</span>
              </p>
            </a>
          </div>
          {{/rooms}}
          {{#services}}
            <div class="service">
              <h3>{{name}}</h3>
              <p>{{description}}<br />{{join}}</p>
            </div>
          {{/services}}
        </div>
      {{/sessions}}
    </section>
    {{> footer}}
  </body>
</html>