<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rpc_ne" />
    <meta name="twitter:creator" content="@samhogy" />
    <meta property="og:url" content="https://ne-rpc.co.uk">
    <meta property="og:title" content="NE-RPC | North East Remote Programming Conference">
    <meta property="og:image" content="https://ne-rpc.co.uk/ne-rpc.jpg">
    <meta property="og:description" content="NE-RPC is a community-organised, free-to-attend virtual conference, showcasing speakers from the North East of England.">
    <title>NE-RPC | North East Remote Programming Conference</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="chalkboard">
      <h1>NE-RPC</h1>
      <h2>Back 2 Sk00l</h2>
      <p>Friday, September 25th 2020</p>
    </header>
    {{> intro}}
    <section id="back-to-school">
      <h2>🏫 NE-RPC Goes Back to School!</h2>
      <p>September is the beginning of a new Academic Year. After months of lockdown and home-schooling, it's time for the children to go back to school.</p>
      <p>As technologists we're always learning. Trends and technologies change all the time. We thought it would be a great opportunity for us to go back to school too, taking the opportunity to focus on development, improvement and re-learning.</p>
      <p>We are on the hunt for sessions on this theme for <strong>Friday September 25th 2020</strong>. Some excellent ideas for topics include (but certainly not limited to):</p>
      <ul class="no-bullets">
        <li>🎓 Tutorials for new technologies</li>
        <li>🧠 Revisiting and challenging preconceptions</li>
        <li>💻 Upcoming concepts - AI, Machine Learning, Virtual Reality, something else?</li>
        <li>🧮 "Back to basics" - Security, modern/agile testing principles, e.t.c</li>
        <li>🎤 Improving essential people skills</li>
        <li>📔 Principles - How we engineer great software</li>
      </ul>
      <div class="actions">
        <a href="https://sessionize.com/ne-rpc-back-2-sk00l/">📣 Speak at NE-RPC!</a>
      </div>
      <h3>Get a ticket</h3>
      <p id="register"><a href="https://www.eventbrite.com/e/ne-rpc-north-east-remote-programming-conference-tickets-105687235366">Registering is free</a> and gets you:
        <ul>
          <li>📼 Access to all videos</li>
          <li>💬 Access to our Discord chat room</li>
          <li>❔ Invitations (via Discord) to join <strong>Q+A sessions with our speakers</strong> after each talk</li>
          <li>☕ Invitation (via Discord) to join our <strong>lunchtime Lean Coffee session</strong></li>
        </ul>
      </p>
      <div class="actions">
        <a href="https://www.eventbrite.com/e/ne-rpc-back-2-sk00l-tickets-111832080764">Get a Ticket</a>
      </div>
    </section>
    {{> past-events}}
    {{> organisers}}
    {{> code-of-conduct}}
    {{> footer}}
  </body>
</html>