<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rpc_ne" />
    <meta name="twitter:creator" content="@samhogy" />
    <meta property="og:url" content="https://ne-rpc.co.uk/sessions/{{session.canonical}}">
    <meta property="og:title" content="NE-RPC | {{session.title}} - {{session.speaker.fullName}}">
    <meta property="og:image" content="https://ne-rpc.co.uk/ne-rpc.jpg">
    <meta property="og:description" content="See {{session.speaker.firstName}}'s talk at NE-RPC">
    <title>NE-RPC | {{title}} - {{session.speaker.fullName}}</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../session.css">
  </head>
  <body>
    {{> header}}
    <div class="actions">
      <a href="/">Home</a>
      <a href="https://twitter.com/rpc_ne">🐦 @rpc_ne</a>
    </div>
    <section class="session-detail">
      <h1>{{session.title}}</h1>
      <div class="synopsis">
        <div class="detail">
          <p>{{{session.description}}}</p>
          {{> video }}
        </div>
        <div class="speaker">
          <h3>{{session.speaker.fullName}}</h3>
          <p>{{session.speaker.tagLine}}</p>
          <img src="{{session.speaker.profilePicture}}" alt="{{session.speaker.fullName}} portrait">
          <div class="actions socials">
            {{#session.speaker.socials}}
              <a href="{{url}}" class="{{name}}" title="{{name}}">{{handle}}</a>
            {{/session.speaker.socials}}
          </div>
        </div>
      </div>
      <div class="bio">
        <h3>About {{session.speaker.firstName}}</h3>
        <p>{{{session.speaker.bio}}}</p>
      </div>
    </section>
    {{> footer}}
  </body>
</html>