<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@rpc_ne" />
    <meta name="twitter:creator" content="@samhogy" />
    <meta property="og:url" content="https://ne-rpc.co.uk">
    <meta property="og:title" content="NE-RPC | North East Remote Programming Conference">
    <meta property="og:image" content="https://ne-rpc.co.uk/ne-rpc.jpg">
    <meta property="og:description" content="NE-RPC is a community-organised, free-to-attend virtual conference, showcasing speakers from the North East of England.">
    <title>NE-RPC | Speaker Assets</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="speaker-instructions.css">
  </head>
  <body>
    {{> header}}
    <div class="actions">
      <a href="/">Home</a>
      <a href="https://twitter.com/rpc_ne">🐦 @rpc_ne</a>
    </div>
    <section class="assets">
      <h1>Speaker Instructions</h1>
      <p>We're asking speakers to pre-record their 30-minute sessions using OBS - a free video recording package.</p>
      <p>With OBS it's possible to arrange multiple input sources (such as your desktop, webcam and microphone) onto a stage, and then record it. We'll use this to apply a conference look-and-feel to our streams..</p>
      <p>To set up OBS according to our specification, please follow the below instructions:</p>
      <ul>
        <li><a href="https://obsproject.com/" alt="OBS">Download and install OBS</a></li>
        <li>Download and save your personalised background canvas image, which is in the Google Drive folder that we shared with you via email.</li>
      </ul>
      <h3>Set Up For 1080p Recording</h3>
      <ul>
        <li>In OBS, go to <i>File > Settings > Output</i>. Set the bit rate to <i>8000 kbps</i> and the recording format to <i>.mp4</i></li>
        <li>In OBS <i>File > Settings > Audio</i>, set the bit rate to <i>44.1 Khz</i>, and channels to <i>Stereo</i>. (These should be the default!)</li>
        <li>In OBS <i>File > Settings > Video</i>, set both the base and output resolutions to <i>1920x1080</i> for 1080p recording.</li>
      </ul>
      <h3>Add and Arrange Input Sources</h3>
      <ul>
        <li>
          You can now add sources to your scene! Click the <b>+</b> button to insert an <b>image</b>, browsing to the canvas image you downloaded earlier:<br />
          <img src="obs-add-canvas.jpg" />
        </li>
        <li>Click the <b>+</b> button to add a new layer on top. Choose <b>Display Capture</b> to capture your full window. This will let you display slides full-screen, and be easier to switch around if you have a demo to show off.</li>
        <li>Shrink the display capture in the scene so that it fits in the space allocated on the template.</li>
        <li>Click the <b>+</b> button in the sources menu to add in your webcam (named: Video capture device).</li>
        <li>Fit the webcam into the space allocated within the canvas image. You can right-click the input source and select <b>Transform</b> to apply a left and right crop to your webcam. This will require a bit of tinkering.</li>
        <li>Finally, ensure your audio will be captured! Click the <b>+</b> button in sources, select <b>Audio input capture</b>. You can adjust the sound level. Try to keep it in the yellow during usual conversation, with the occassional peak into the red.</li>
        <li>
          When you're ready, press 'Start recording'! And when finished, press 'Stop recording'. OBS can remain minimised while recording.<br />
          <img src="obs-start-recording.jpg" />
        </li>
      </ul>
      <p>You can see a worked example video of the above setup:</p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eiZSWAFyj_E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h3>Send Us The Video</h3>
      <p>Once you've finalised your content, please upload the mp4 to the Google Drive folder that we shared with you via email. If there's anything else that you would like us to share, for example links to source code, assets, slides etc, please stick a note in the folder.</p>
      <h3>Advanced Usage</h3>
      <p>
        Of course, should you need to deviate from the layout we've recommended above, do feel free to experiment with the assets pack to craft a scene to your liking. In OBS it is possible to have multiple scenes and seamlessly switch between them! For example, here's a (nearly) full-screen view for desktop content, which could be useful for a demo:<br />
        <img src="canvas-full.png" width="640" height="360" />
      </p>    
      <p>The following assets have been prepared for use in your presentation slides, or when pre-recording your sessions.</p>
      <p>Our logo typeface is ><a href="https://fonts.google.com/specimen/VT323?category=Monospace">VT323 (Google Font)</a></p>
      <p>
        A blank background canvas: <br/>
        <img src="canvas-blank.png" alt="OBS Background Canvas - blank" width="640" height="360" />
      </p>
      <p>
        Speaker non-personalised canvas: <br />
        <img src="canvas.png" alt="OBS Background Canvas - with content boxes" width="640" height="360" />
      </p>
      <p>Our colour scheme is as follows:</p>
      <div class="color-scheme">
        <span class="main">#FF4081</span>
        <span class="soft">#FFD1E1</span>
        <span class="central">#FFF5F8</span>
        <span class="dark">#2F4858</span>
        <span class="border">#666666</span>
        <span class="alt">#007256</span>
      </div>
    </section>
    {{> footer}}
  </body>
</html>