.header-row {
  text-align: center;
  height: 128px;
}

.header-row .slot {
  border-radius: 4px 0 0 0;
}

.header-row h3 {
  font-size: 1.5rem;
  color: var(--central);
  text-shadow: 1px 1px 2px #000;
  display: inline-block;
}

.header-row a {
  color: var(--central);
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  font-weight: normal;
}

.tynemouth {
  background: url(tynemouth.jpg);
  background-size: cover;
}

.marsden {
  background: url(souter.jpg);
  background-size: cover;
  border-radius: 0 4px 0 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.slot {
  font-size: 1.5rem;
  width: 64px;
  text-align: center;
  padding: 0;
  font-family: VT323, monospace;
}

.session {
  border-left: 3px solid transparent;
  overflow: hidden;
}

.session:nth-child(even) {
  background-color: var(--central);
}

.video-container {
  margin-top: 1rem;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
  background: var(--dark);
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.service {
  background: #a1688b;
  text-align: center;
  color: #fff;
  flex: 1;
  padding: 12px;
}

.service h3 {
  color: #fff;
}

.session a {
  display: inline-block;
}

.session:hover {
  border-left: 3px solid var(--main-focus);
  background-color: var(--soft);
  font-weight: bold;
}

.portrait {
  float: left;
  margin-right: 12px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  border: 2px solid var(--soft);
}

.session h3 {
  color: var(--alt);
  font-weight: normal;
}

.session p {
  color: var(--dark);
}

.session, .title {
  flex: 1;
}

.session, .slot {
  padding: 0 12px 12px 12px;
}

@media(max-width: 680px) {
  .header-row {
    display: none;
  }

  .row {
    border-bottom: 1px solid var(--border);
    flex-direction: column;
  }

  .slot {
    padding: 12px 0;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    width: 100%;
  }
}