.assets img {
  border: 1px solid var(--border);
}

.color-scheme span {
  display: table-cell;
  width: 96px;
  height: 96px;
  border-radius: 2px solid;
  text-align: center;
  vertical-align: middle;
}

span.main {
  background: var(--main-focus);
  color: white;
}

span.soft {
  background: var(--soft);
}

span.central {
  background: var(--central);
}

span.dark {
  background: var(--dark);
  color: white;
}

span.border {
  background: var(--border);
  color: white;
}

span.alt {
  background: var(--alt);
  color: white;
}